/* === Layout === */
.maximizedPopUp {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 416px;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  box-shadow: 0px 2px 24px #0000001a;
  overflow: hidden;
  max-height: 640px;
  position: relative;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.textWrapper {
  color: #000000;
  font-family: "DM Sans-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
}

.frame {
  display: flex;
  gap: 16px;
  padding-right: 30px;
}

.minusIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.exitIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.verticalWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 16px;
  overflow-y: auto;
  flex: 1;
  border-bottom: 0.5px solid #00000033;
}

.verticalWrapper::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  padding: 16px;
  width: 100%;
  display: flex;
}

.payButton {
  background-color: #000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 384px;
}

.logo {
  width: 23px;
  height: 16px;
}

.payButtonText {
  color: #ffffff;
  font-family: "DM Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
}