 .MinimizedCard {
    align-items: flex-end;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 16px;
    box-shadow: 0px 2px 24px #0000001a;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 352px;
}

.MinimizedCard .card-container {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
}

.MinimizedCard .content {
    align-items: flex-start;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #68686826;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 16px 8px;
    position: relative;
    width: 100%;
}

.MinimizedCard .horizontal-container {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 24px;
    height: 57px;
    position: relative;
    width: 100%;
}

.MinimizedCard .card-image-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 89.25px;
}

.MinimizedCard .card-image {
    height: 57px;
    object-fit: cover;
    position: relative;
    width: 89px;
}

.MinimizedCard .check-circle-wrapper {
    background-color: #2E77F4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MinimizedCard .check-icon {
    color: white;
    font-size: 16px;
}

.MinimizedCard .card-details {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
}

.MinimizedCard .card-content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 2px;
    position: relative;
}

.MinimizedCard .card-reward {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 100%;
}

.MinimizedCard .text-wrapper {
    color: #000000;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.MinimizedCard .div {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.MinimizedCard .card-name {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.MinimizedCard .horizontal-container-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.MinimizedCard .div-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.MinimizedCard .img {
    height: 16px;
    object-fit: cover;
    position: relative;
    width: 25px;
}

.MinimizedCard .additional-cards {
    align-items: center;
    border-radius: 100px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 16px;
    justify-content: center;
    padding: 2px 4px;
    position: relative;
}

.MinimizedCard .number-of-additional {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.MinimizedCard .button-container {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    opacity: 0.5;
    position: relative;
}

.MinimizedCard .button-text {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.MinimizedCard .caret-right {
    height: 15px;
    position: relative;
    width: 10px;
}

.MinimizedCard .button {
    all: unset;
    align-items: center;
    align-self: stretch;
    background-color: #000000;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
}

.MinimizedCard .logo {
    height: 16px;
    width: 23px;
    position: relative;
    color: #ffffff;
    background-size: 100%;
}

.MinimizedCard .button-text-2 {
    color: #ffffff;
    font-family: "DM Sans-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.MinimizedCard .exit-icon {
    border-radius: 100px;
    left: 340px;
    overflow: hidden;
    position: absolute;
    top: 12px;
}