.MinimizedCard {
    align-items: flex-end;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 16px;
    box-shadow: 0px 2px 24px #0000001a;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 352px;
}

.MinimizedCard .card-container {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
}

.MinimizedCard .content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.MinimizedCard .frame {
    align-items: flex-start;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #68686826;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 16px 8px;
    position: relative;
    width: 100%;
}

.MinimizedCard .div {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 24px;
    height: 57px;
    position: relative;
    width: 100%;
}

.MinimizedCard .frame-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 89.25px;
}

.MinimizedCard .image {
    height: 57px;
    object-fit: cover;
    position: relative;
    width: 89px;
}

.MinimizedCard .check-circle {
    height: 24px;
    left: 75px;
    position: absolute;
    top: -9px;
    width: 24px;
}

.MinimizedCard .frame-3 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
}

.MinimizedCard .frame-4 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 2px;
    position: relative;
}

.MinimizedCard .frame-5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 100%;
}

.MinimizedCard .text-wrapper {
    color: #000000;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.MinimizedCard .text-wrapper-2 {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.MinimizedCard .text-wrapper-3 {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.MinimizedCard .frame-6 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.MinimizedCard .frame-7 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.MinimizedCard .img {
    height: 16px;
    object-fit: cover;
    position: relative;
    width: 25px;
}

.MinimizedCard .div-wrapper {
    align-items: center;
    border-radius: 100px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 16px;
    justify-content: center;
    padding: 2px 4px;
    position: relative;
}

.MinimizedCard .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.MinimizedCard .frame-8 {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    opacity: 0.5;
    position: relative;
}

.MinimizedCard .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.MinimizedCard .caret-right {
    height: 10px;
    position: relative;
    width: 10px;
}

.MinimizedCard .button {
    all: unset;
    align-items: center;
    align-self: stretch;
    background-color: #000000;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
}

.MinimizedCard .logo {
    height: 16px;
    position: relative;
    width: 23px;
}

.MinimizedCard .button-text {
    color: #ffffff;
    font-family: "DM Sans-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.MinimizedCard .exit-icon {
    border-radius: 100px;
    height: 16px;
    left: 320px;
    overflow: hidden;
    position: absolute;
    top: 16px;
    width: 16px;
}

.MinimizedCard .vector {
    height: 16px;
    left: 1534px;
    position: absolute;
    top: 3537px;
    width: 16px;
}

.MinimizedCard .overlap-group {
    background-image: url(./image.svg);
    background-size: 100% 100%;
    height: 10px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 10px;
}

.MinimizedCard .vector-2 {
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
}
